table {
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background: darkgray;
}
td {
    font-size: 16px;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 4px;
}
p {
    font-size: 16px;
}